@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-tabs{
    @apply text-[#0A26AE] pb-2 font-bold border-b-2 border-b-[#0A26AE];
  }
  .deactive-tabs{
    @apply text-neutral-400 pb-2 font-medium border-b-2 border-b-transparent;
  }

  .gradient-overlay{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /* Bottom Overlay */
    height: 30px;
    pointer-events: none;
    z-index:1;
    @apply bg-gradient-to-t from-slate-50 to-transparent;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
